---

---

<div
  class="dark text-muted text-sm bg-[#1a5276] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-[#f39c12] text-white font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block rounded"
    >NEW</span
  >
  <a href="/get-estimate" class="text-white/90 hover:underline dark:text-slate-400 font-medium"
    >Now serving the entire Treasure Valley! Call (208) XXX-XXXX for a free estimate. &raquo;</a
  >
</div>
