---
import { Icon } from 'astro-icon/components';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap flex items-center gap-2"
>
  <Icon name="tabler:tree" class="w-7 h-7 text-forest-500" />
  <span class="font-heading">
    <span class="text-forest-500">Banks</span><span class="text-wood-500">Treehouse</span>
  </span>
</span>
