---
import { Icon } from 'astro-icon/components';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap flex items-center gap-1"
>
  <Icon name="tabler:tree" class="w-6 h-6 text-[#225739]" />
  <span class="text-[#225739]">Banks</span><span class="text-[#C17A37]">Treehouse</span>
</span>
